.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 70%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: rgb(24, 20, 20);
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 90%;
    width: 100%;
    color: rgb(15, 13, 13);
  }
}
