<ion-header>
  <ion-navbar color="twitter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Train MI</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="dialog-content-inherit" [@pageAnimation]="'in'">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner name="dots" *ngIf="loading" style="margin-left: 50%;" color="twitter"></ion-spinner>
  <ion-card *ngFor="let cat of categories">
    <img src="../../assets/images/{{cat.imageUrl}}" />
  </ion-card>
</ion-content>
