ion-card-header {
    font-size: 2em;
    font-weight: bold;
    float: left;
}

ion-card-content {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    ;
}
